:root {
  --primary: #4c2f92;
  --orange: #f47920;
  --secondary: #05f5e0;
  --black: #333333;
  --white: #ffffff;
  --grey: #f3f2f1;
  --grey-light: #F8F8F8;
  --grey-2: #ebebec;
  --primary-light: #ba82ff;
}