a(href="#").news-item
    span.news-item__img
        img(src=i.img alt=i.title)
    span.news-item__wrap
        span.news-item__title= i.title
        span.news-item__txt= i.txt
        span.news-item__more.btn.btn--more
            span Подробнее
            <svg width="23" height="25" viewBox="0 0 23 25" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.3536 12.3848C19.5488 12.1895 19.5488 11.873 19.3536 11.6777L16.1716 8.49572C15.9763 8.30045 15.6597 8.30045 15.4645 8.49572C15.2692 8.69098 15.2692 9.00756 15.4645 9.20282L18.2929 12.0312L15.4645 14.8597C15.2692 15.0549 15.2692 15.3715 15.4645 15.5668C15.6597 15.762 15.9763 15.762 16.1716 15.5668L19.3536 12.3848ZM4 12.5312H19V11.5312H4V12.5312Z"/>
            </svg>

