.pagination
    a(href="#").pagination__arr
        <svg width="8" height="14" viewBox="0 0 8 14" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.34717 13L0.83953 6.72498L7.34717 1"/>
        </svg>
    .pagination__list
        a(href="#").pagination__item 1
        a(href="#").pagination__item.active 2
        a(href="#").pagination__item 3
        a(href="#").pagination__item
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_9804_50053" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="6" width="16" height="5">
            <path d="M4 8.0459C4 9.15051 3.10449 10.0459 2 10.0459C0.895508 10.0459 0 9.15051 0 8.0459C0 6.94128 0.895508 6.0459 2 6.0459C3.10449 6.0459 4 6.94128 4 8.0459Z" fill="#6B6C7E"/>
            <path d="M10 8.0459C10 9.15051 9.10449 10.0459 8 10.0459C6.89551 10.0459 6 9.15051 6 8.0459C6 6.94128 6.89551 6.0459 8 6.0459C9.10449 6.0459 10 6.94128 10 8.0459Z" fill="#6B6C7E"/>
            <path d="M14 10.0459C15.1045 10.0459 16 9.15051 16 8.0459C16 6.94128 15.1045 6.0459 14 6.0459C12.8955 6.0459 12 6.94128 12 8.0459C12 9.15051 12.8955 10.0459 14 10.0459Z" fill="#6B6C7E"/>
            </mask>
            <g mask="url(#mask0_9804_50053)">
            <rect y="0.0458984" width="16" height="16" fill="#333333"/>
            </g>
            </svg>

        a(href="#").pagination__item 5
    a(href="#").pagination__arr
        <svg width="9" height="14" viewBox="0 0 9 14" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.8396 1L7.34724 7.27502L0.839598 13" />
        </svg>

