.feed
    .container
        .feed__wrap
            h2.feed__title.title Связаться с нами
            .feed__img
                img(src="/images/content/feed/img.png" alt="lorem")
            .feed__grid
                .feed__left
                    .feed__list
                        .feed__item
                            .feed__name Служба поддержки интернет-магазина
                            .feed__txt.
                                <a href="tel:+7(999)999-99-99">+7 (999) 999-99-99</a>, или по почте <br>
                                <a href="mailto:info@ivatherm.ru">info@ivatherm.ru</a>
                        .feed__item
                            .feed__name Отдел качества обслуживания
                            .feed__txt.
                                <a href="tel:+7(999)999-99-99">+7 (999) 999-99-99</a>, или по почте <br>
                                <a href="mailto:info@ivatherm.ru">info@ivatherm.ru</a>
                        .feed__item
                            .feed__name Меседжеры службы поддержки
                            .feed__txt.
                                <a href="https://wa.me/79999999999">
                                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.2777 4.02344C7.92436 4.02344 4.37629 7.58344 4.37629 11.9514C4.37629 13.3514 4.74305 14.7114 5.42875 15.9114L4.3125 20.0234L8.49843 18.9194C9.65454 19.5514 10.9542 19.8874 12.2777 19.8874C16.6311 19.8874 20.1792 16.3274 20.1792 11.9594C20.1792 9.83944 19.3579 7.84744 17.8669 6.35144C16.376 4.84744 14.3906 4.02344 12.2777 4.02344ZM12.2857 5.35944C14.0398 5.35944 15.6823 6.04744 16.9261 7.29544C18.1619 8.54344 18.8476 10.1994 18.8476 11.9594C18.8476 15.5914 15.8976 18.5434 12.2777 18.5434C11.0977 18.5434 9.94158 18.2314 8.93696 17.6234L8.69776 17.4874L6.21012 18.1434L6.8719 15.7114L6.71243 15.4554C6.05863 14.4234 5.70781 13.1994 5.70781 11.9514C5.71578 8.31944 8.65789 5.35944 12.2857 5.35944ZM9.47913 8.28744C9.35156 8.28744 9.13629 8.33544 8.9529 8.53544C8.77749 8.73544 8.25923 9.22344 8.25923 10.1914C8.25923 11.1674 8.96885 12.1034 9.05655 12.2394C9.16818 12.3754 10.4598 14.3754 12.4452 15.2234C12.9156 15.4394 13.2823 15.5594 13.5694 15.6474C14.0398 15.7994 14.4704 15.7754 14.8132 15.7274C15.1959 15.6714 15.9773 15.2474 16.1447 14.7834C16.3122 14.3194 16.3122 13.9274 16.2643 13.8394C16.2085 13.7594 16.0809 13.7114 15.8816 13.6234C15.6823 13.5114 14.7096 13.0314 14.5341 12.9674C14.3508 12.9034 14.2391 12.8714 14.0876 13.0634C13.9601 13.2634 13.5774 13.7114 13.4657 13.8394C13.3461 13.9754 13.2345 13.9914 13.0432 13.8954C12.8358 13.7914 12.198 13.5834 11.4485 12.9114C10.8585 12.3834 10.4678 11.7354 10.3482 11.5354C10.2525 11.3434 10.3402 11.2234 10.4359 11.1354C10.5236 11.0474 10.6512 10.9034 10.7309 10.7834C10.8346 10.6714 10.8665 10.5834 10.9303 10.4554C10.994 10.3194 10.9621 10.2074 10.9143 10.1114C10.8665 10.0234 10.4678 9.03144 10.3004 8.63944C10.1409 8.25544 9.98144 8.30344 9.85387 8.29544C9.74225 8.29544 9.61468 8.28744 9.47913 8.28744Z" fill="black"/>
                                    </svg>
                                    WhatsApp
                                </a>
                .feed__right
                    form.feed__form
                        .feed__sub Задать вопрос на сайте
                        .feed__fields
                            .feed__field
                                input(type='text' name='name' placeholder='Ваше имя').feed__input
                            .feed__field
                                input(type='tel' name='tel' placeholder='Номер телефона').feed__input
                            .feed__field
                                textarea(name='msg' placeholder='Ваш вопрос').feed__input.feed__input--area
                        button(type='button').feed__submit.btn.btn--primary Задать вопрос