a(href="#").catalog-promo
    span.catalog-promo__img

        img(src="/images/content/catalog-promo/img.png" alt="lorem")
    span.catalog-promo__title Эффективный уход
    span.catalog-promo__txt Сделай заказ до 30 января со скидкой