.radio {
  display: block;
  padding: 4px 2px;
  cursor: pointer;

  &__input {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    margin-top: -10px;
    &:checked + .radio__fake {
      .radio {
        &__check {
          //background-color: var(--primary);
          box-shadow: 0px 0px 0px 2px rgba(186, 130, 255, 0.25);
          border-color: var(--primary);
          border-width: 6px;
        }
      }
    }
  }

  &__fake {
    display: flex;
    gap: 10px;

  }

  &__check {
    flex-shrink: 0;
    width: 21px;
    height: 21px;
    border: 1px solid #c5cdd7;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title{
    font-size: 14px;
  }

  &__count{
    font-size: 14px;
    color: var(--primary-light);
  }
}