extends ../../main

block variables
    - var title = 'Разделы'

block content
    main.page
        .page__breadcrumbs
            .container
                include ../../components/breadcrumbs/index
        .page__sections
            include ../../components/sections/index






