.mmenu-menu
    .mmenu-menu__top
        .mmenu-menu__socials
            a(href="#").mmenu-menu__social
                <svg width="34" height="32" viewBox="0 0 34 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M32.4412 16C32.4412 24.5604 25.5016 31.5 16.9412 31.5C8.38075 31.5 1.44116 24.5604 1.44116 16C1.44116 7.43959 8.38075 0.5 16.9412 0.5C25.5016 0.5 32.4412 7.43959 32.4412 16Z" fill="white" stroke="#333333"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5252 8H13.3563C12.1856 8.00141 11.0633 8.46715 10.2356 9.29503C9.40785 10.1229 8.94234 11.2453 8.94116 12.416V19.584C8.94234 20.7547 9.40785 21.8771 10.2356 22.705C11.0633 23.5329 12.1856 23.9986 13.3563 24H20.5252C21.696 23.9988 22.8185 23.5332 23.6464 22.7053C24.4744 21.8774 24.94 20.7548 24.9412 19.584V12.416C24.9398 11.2452 24.474 10.1228 23.6462 9.29498C22.8183 8.46712 21.6959 8.00141 20.5252 8ZM23.5216 19.584C23.5209 20.3785 23.205 21.1402 22.6432 21.702C22.0814 22.2638 21.3197 22.5797 20.5252 22.5804H13.3563C12.5619 22.5795 11.8004 22.2635 11.2388 21.7017C10.6772 21.1399 10.3614 20.3783 10.3607 19.584V12.416C10.3614 11.6217 10.6772 10.8601 11.2388 10.2983C11.8004 9.73652 12.5619 9.4205 13.3563 9.41956H20.5252C21.3196 9.4205 22.0812 9.7365 22.6429 10.2982C23.2047 10.86 23.5207 11.6216 23.5216 12.416V19.584ZM16.9438 11.8773C16.4023 11.8776 15.8662 11.9845 15.3659 12.1919C14.8657 12.3993 14.4113 12.7033 14.0286 13.0864C13.6458 13.4694 13.3423 13.9241 13.1353 14.4245C12.9282 14.9249 12.8218 15.4612 12.8221 16.0027C12.8223 16.5442 12.9292 17.0803 13.1366 17.5805C13.3441 18.0808 13.648 18.5352 14.0311 18.9179C14.4141 19.3007 14.8689 19.6042 15.3692 19.8112C15.8696 20.0183 16.4059 20.1247 16.9474 20.1244C18.041 20.1236 19.0895 19.6884 19.8623 18.9145C20.635 18.1406 21.0687 17.0914 21.0678 15.9978C21.067 14.9041 20.6318 13.8556 19.8579 13.0829C19.084 12.3102 18.0348 11.8765 16.9412 11.8773H16.9438ZM16.9438 18.7031C16.2269 18.7024 15.5397 18.4169 15.0332 17.9095C14.5268 17.4021 14.2427 16.7142 14.2434 15.9973C14.2441 15.2804 14.5296 14.5932 15.037 14.0867C15.5444 13.5803 16.2323 13.2962 16.9492 13.2969C17.6661 13.2979 18.3532 13.5838 18.8594 14.0914C19.3656 14.5991 19.6493 15.2871 19.6483 16.004C19.6472 16.7209 19.3614 17.408 18.8537 17.9142C18.346 18.4204 17.6581 18.7042 16.9412 18.7031H16.9438ZM21.2363 10.672C21.0996 10.6721 20.9643 10.6992 20.838 10.7516C20.7118 10.804 20.5971 10.8808 20.5005 10.9775C20.4039 11.0742 20.3274 11.189 20.2752 11.3154C20.223 11.4417 20.1962 11.5771 20.1963 11.7138C20.1964 11.8505 20.2234 11.9858 20.2758 12.112C20.3283 12.2383 20.405 12.353 20.5018 12.4495C20.5985 12.5461 20.7133 12.6227 20.8397 12.6749C20.966 12.7271 21.1014 12.7539 21.2381 12.7538C21.5141 12.7535 21.7788 12.6437 21.9738 12.4483C22.1688 12.2529 22.2783 11.9881 22.2781 11.712C22.2778 11.4359 22.1679 11.1713 21.9726 10.9762C21.7772 10.7812 21.5123 10.6718 21.2363 10.672Z" fill="#333333"/>
                </svg>
            a(href="#").mmenu-menu__social
                <svg width="35" height="32" viewBox="0 0 35 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M32.7942 16C32.7942 24.5604 25.8546 31.5 17.2942 31.5C8.73378 31.5 1.79419 24.5604 1.79419 16C1.79419 7.43959 8.73378 0.5 17.2942 0.5C25.8546 0.5 32.7942 7.43959 32.7942 16Z" fill="white" stroke="#333333"/>
                <path d="M20.2942 9.52488V11.7849H18.8422C18.6492 11.7849 18.3592 11.9819 18.3592 12.3749V13.7509H20.2942L20.1002 16.0119H18.3592V22.4999H15.7462V16.0119H14.2942V13.7519H15.6492V12.0799C15.6492 12.0799 15.6492 11.1959 15.9392 10.7039C16.2292 10.1139 16.6172 9.81888 17.4882 9.62288C18.3582 9.42588 20.2942 9.52488 20.2942 9.52488Z" fill="#333333"/>
                </svg>
        .mmenu-menu__lang
            include ../../components/lang/index
    .mmenu-menu__list
        -
            var arr = [
                "О бренде",
                "Термальная вода Herculane",
                "Уникальные молекулы бренда",
                "Производство",
                "Твой тип кожи",
                "Врачам",
                "Контакты"
            ];
        each i in arr
            a(href="#").mmenu-menu__item= i
    a(href="tel:+7(999)999-00-00").mmenu-menu__phone
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.816 10.059C7.94339 12.2634 9.7366 14.0566 11.941 15.184L13.652 13.474C13.862 13.264 14.173 13.194 14.446 13.287C15.3419 13.5812 16.279 13.7308 17.222 13.73C17.4282 13.7305 17.6258 13.8127 17.7715 13.9585C17.9173 14.1042 17.9995 14.3018 18 14.508V17.222C17.9995 17.4282 17.9173 17.6258 17.7715 17.7715C17.6258 17.9173 17.4282 17.9995 17.222 18C9.92 18 4 12.081 4 4.778C4.00053 4.57182 4.08267 4.37424 4.22845 4.22845C4.37424 4.08267 4.57182 4.00053 4.778 4H7.5C7.70618 4.00053 7.90376 4.08267 8.04955 4.22845C8.19534 4.37424 8.27747 4.57182 8.278 4.778C8.278 5.75 8.433 6.683 8.721 7.554C8.76527 7.69134 8.77058 7.83827 8.73633 7.97845C8.70208 8.11862 8.62962 8.24655 8.527 8.348L6.816 10.058V10.059Z" fill="#333333"/>
        </svg>
        span +7 (999) 999-00-00