div(style='background-image: url(/images/content/promo/img.jpeg);').promo
    .container
        h2.promo__title Геркуланская термальная вода
        .promo__txt Все наши продукты изготовлены на основе термальной воды Herculane и обладают успокаивающим и защитным действием.
        a(href="#").promo__link.btn.btn--arr
            span Узнать больше
            <svg width="32" height="25" viewBox="0 0 32 25" xmlns="http://www.w3.org/2000/svg">
            <path d="M28.3536 12.3811C28.5488 12.1859 28.5488 11.8693 28.3536 11.674L25.1716 8.49205C24.9763 8.29679 24.6597 8.29679 24.4645 8.49205C24.2692 8.68732 24.2692 9.0039 24.4645 9.19916L27.2929 12.0276L24.4645 14.856C24.2692 15.0513 24.2692 15.3679 24.4645 15.5631C24.6597 15.7584 24.9763 15.7584 25.1716 15.5631L28.3536 12.3811ZM4 12.5276H28V11.5276H4V12.5276Z" />
            </svg>
