.promo{
  height: 500px;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  color: var(--white);
  @include lg-block{
    height: 301px;
  }
  @include sm-block{
    height: auto;
    padding-top: 70px;
  }

  .container{
    width: 100%;
    @include xlg-block{
      padding-left: 80px;
    }
    @include lg-block{
      padding-left: 70px;
    }
    @include sm-block{
      padding-left: 15px;
    }
  }

  &__title{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
    @include lg-block{
      font-size: 20px;
      margin-bottom: 20px;
    }
    @include sm-block{
      font-size: 24px;
      margin-bottom: 40px;
    }
  }

  &__txt{
    font-size: 22px;
    max-width: 600px;
    margin-bottom: 55px;
    @include lg-block{
      font-size: 14px;
      margin-bottom: 30px;
    }
    @include sm-block{
      font-size: 16px;
    }
  }

  &__link{

    background-color: var(--primary-light);
    color: var(--white);
    border-color: var(--primary-light);

    @include sm-block{
      width: calc(100% + 30px);
      margin: 0 -15px;
    }

    &:hover{
      background-color: var(--primary-light);
      color: var(--white);
      border-color: var(--primary-light);
    }
  }
}