.promo{
  height: 500px;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  color: var(--white);
  @include lg-block{
    height: 301px;
  }

  .container{
    width: 100%;
    @include xlg-block{
      padding-left: 80px;
    }
    @include lg-block{
      padding-left: 70px;
    }
  }

  &__title{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
    @include lg-block{
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &__txt{
    font-size: 22px;
    max-width: 600px;
    margin-bottom: 55px;
    @include lg-block{
      font-size: 14px;
      margin-bottom: 30px;
    }
  }
}