.promo{
  height: 500px;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  color: var(--white);

  .container{
    width: 100%;
  }

  &__title{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  &__txt{
    font-size: 22px;
    max-width: 600px;
    margin-bottom: 55px;
  }
}