.item-extra
    .item-extra__left
        .item-extra__brand Ivadermaseb
        .item-extra__title Sunlight Kids very high sun protection milk SPF50+ 200ml
        .item-extra__cat Средство для чистки лица и тела
        a(href="/catalog/product/").item-extra__link.btn.btn--more
            span Подробнее
            <svg width="23" height="25" viewBox="0 0 23 25" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.3536 12.4707C19.5488 12.2755 19.5488 11.9589 19.3536 11.7636L16.1716 8.58165C15.9763 8.38639 15.6597 8.38639 15.4645 8.58165C15.2692 8.77692 15.2692 9.0935 15.4645 9.28876L18.2929 12.1172L15.4645 14.9456C15.2692 15.1409 15.2692 15.4575 15.4645 15.6527C15.6597 15.848 15.9763 15.848 16.1716 15.6527L19.3536 12.4707ZM4 12.6172H19V11.6172H4V12.6172Z" />
            </svg>
        .item-extra__icon
            img(src="/images/content/items/icon1.svg" alt="lorem")
    .item-extra__right
        .item-extra__img
            img(src="/images/content/items/5.jpg" alt="lorem")




