form(action='#' method='post').subscribe
    .subscribe__title Получите самые выгодные предложения
    .subscribe__field
        input(type='text' name='subscribe' placeholder='Ваш email').subscribe__input
        button(type='button').subscribe__submit
            <svg width="16" height="17" viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.8536 8.35551C16.0488 8.16024 16.0488 7.84366 15.8536 7.6484L12.6716 4.46642C12.4763 4.27116 12.1597 4.27116 11.9645 4.46642C11.7692 4.66168 11.7692 4.97826 11.9645 5.17353L14.7929 8.00195L11.9645 10.8304C11.7692 11.0256 11.7692 11.3422 11.9645 11.5375C12.1597 11.7327 12.4763 11.7327 12.6716 11.5375L15.8536 8.35551ZM0.5 8.50195H15.5V7.50195H0.5V8.50195Z"/>
            </svg>
    .subscribe__desc Нажимая кнопку «Стать первым», вы соглашаетесь на обработку персональных данных.
