extends ../../main

block variables
    - var title = 'Главная'

block content
    main.page
        section.page__banner
            include ../../components/banner/index
        section.page__about
            include ../../components/about/index
        section.page__partitions
            include ../../components/partitions/index
        section.page__populars
            include ../../components/populars/index




