.sections
    .container
        h1.sections__title
            |Каталог&nbsp;
            b Ivatherm
        .sections__cols
            .sections__col
                -
                    var section = {
                            type: 'FACE',
                            title: 'Уход за лицом',
                            img: '/images/content/sections/1.jpg'
                        };
                .sections__section
                    include ../../components/section/index
                .sections__list
                    -
                        var arr = [
                            "Покраснение + чешуйки",
                            "Термальная вода",
                            "Термальная вода",
                            "Против старения",
                            "Сухая кожа",
                            "Бальзамы для губ",
                            "Очень чувствительная, непереносимая кожа",
                            "Очищение / Снятие макияжа",
                            "Жирная, склонная к акне кожа",
                            "Депигментация",
                            "Поврежденная кожа",
                            "Увлажняющее средство для лица",
                            "Признаки старения",
                            "Особая забота",
                            "Неровная кожа",
                            "Уход за кожей вокруг глаз",
                            "Покраснение + чувствительность",
                            "Защита от солнца",
                            "Защита от солнца",
                            "Ремонт кожи"
                        ];
                    each i in arr
                        a(href="#").sections__item
                            span= i
                            <svg width="17" height="17" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.3536 8.35746C16.5488 8.1622 16.5488 7.84561 16.3536 7.65035L13.1716 4.46837C12.9763 4.27311 12.6597 4.27311 12.4645 4.46837C12.2692 4.66363 12.2692 4.98022 12.4645 5.17548L15.2929 8.00391L12.4645 10.8323C12.2692 11.0276 12.2692 11.3442 12.4645 11.5394C12.6597 11.7347 12.9763 11.7347 13.1716 11.5394L16.3536 8.35746ZM0 8.50391H16V7.50391H0V8.50391Z" />
                            </svg>
            .sections__col.sections__col--grey
                -
                    var section = {
                        type: 'BODY',
                        title: 'Уход за телом',
                        img: '/images/content/sections/2.jpg',
                    };
                .sections__section
                    include ../../components/section/index
                .sections__list
                    -
                        var arr = [
                            "Термальная вода",
                            "Термальная вода",
                            "Антицеллюлитный/Против растяжек",
                            "Увлажняющее средство для тела",
                            "Гигиена",
                            "Очищающие средства",
                            "Интенсивное увлажнение",
                            "Защита от солнца",
                            "Поврежденная кожа",
                            "Ремонт кожи",
                            "Защита от солнца",
                            "Себорея/перхоть кожи головы"
                        ];
                    each i in arr
                        a(href="#").sections__item
                            span= i
                            <svg width="17" height="17" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.3536 8.35746C16.5488 8.1622 16.5488 7.84561 16.3536 7.65035L13.1716 4.46837C12.9763 4.27311 12.6597 4.27311 12.4645 4.46837C12.2692 4.66363 12.2692 4.98022 12.4645 5.17548L15.2929 8.00391L12.4645 10.8323C12.2692 11.0276 12.2692 11.3442 12.4645 11.5394C12.6597 11.7347 12.9763 11.7347 13.1716 11.5394L16.3536 8.35746ZM0 8.50391H16V7.50391H0V8.50391Z" />
                            </svg>
