.partitions
    .container
        h2.partitions__title Cicaderm
        .partitions__grid
            each i in [1,2,3,4,5,6,7,8,9,10]
                a(href="#").partitions__item
                    span.btn.btn--arr.btn--grey.partitions__btn
                        span Перейтик покупкам
                        <svg width="33" height="25" viewBox="0 0 33 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M28.6565 12.3594C28.8518 12.1642 28.8518 11.8476 28.6565 11.6523L25.4746 8.47033C25.2793 8.27506 24.9627 8.27506 24.7674 8.47033C24.5722 8.66559 24.5722 8.98217 24.7674 9.17743L27.5959 12.0059L24.7674 14.8343C24.5722 15.0295 24.5722 15.3461 24.7674 15.5414C24.9627 15.7367 25.2793 15.7367 25.4746 15.5414L28.6565 12.3594ZM4.30298 12.5059H28.303V11.5059H4.30298V12.5059Z" fill="#333333"/>
                        </svg>
                    span.partitions__img
                        img(src='images/content/paritions/'+i+'.png' alt="lorem")