.about
    .about__grid
        .about__left
            .about__content
                p «Я провел свою жизнь в окружении медицинских работников. Отец у врача, а мать у фармацевта, поэтому, наверное, неудивительно, что я последовал за ними в медицину. Изучив медицину в Бухаресте и экономику в Париже, я получил степень доктора медицинских наук.
                p Как и на всех путях, на разных перекрестках мы делаем разный выбор. Я выбрал работу в области маркетинга и продаж в некоторых из крупнейших фармацевтических компаний Франции и Румынии».
            a(href="#").about__link.btn.btn--arr.btn--grey
                span Подробнее
                <svg width="33" height="25" viewBox="0 0 33 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.8536 12.4429C29.0488 12.2476 29.0488 11.9311 28.8536 11.7358L25.6716 8.55382C25.4763 8.35856 25.1597 8.35856 24.9645 8.55382C24.7692 8.74908 24.7692 9.06567 24.9645 9.26093L27.7929 12.0894L24.9645 14.9178C24.7692 15.113 24.7692 15.4296 24.9645 15.6249C25.1597 15.8202 25.4763 15.8202 25.6716 15.6249L28.8536 12.4429ZM4.5 12.5894H28.5V11.5894H4.5V12.5894Z" fill="#333333"/>
                </svg>
        .about__left
            .about__doc
                .about__img
                    img(src='/images/content/about/img.jpg')
                .about__name.title DR. RUCSANDRA HUREZEANU
