.product
    .container
        .product__grid
            .product__left
                .product__thumbs.swiper
                    .swiper-wrapper
                        each i in [1,2,3,1,2,3]
                            .swiper-slide.product__thumb
                                img(src='/images/content/product/thumb' + i + '.png' alt="lorem")
                .product__picture
                    .product__slider
                        .product__swiper.swiper
                            .swiper-wrapper
                                each i in [1,2,3,1,2,3]
                                    a(href='/images/content/product/img' + i + '.png' data-fancybox="images").swiper-slide.product__slide
                                        img(src='/images/content/product/img' + i + '.png' alt="lorem")
                    .product__nav
                        a(href="#").product__arr.product__prev
                            <svg width="32" height="33" viewBox="0 0 32 33" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.46967 15.4736C3.17678 15.7665 3.17678 16.2413 3.46967 16.5342L8.24264 21.3072C8.53553 21.6001 9.01041 21.6001 9.3033 21.3072C9.59619 21.0143 9.59619 20.5394 9.3033 20.2465L5.06066 16.0039L9.3033 11.7613C9.59619 11.4684 9.59619 10.9935 9.3033 10.7006C9.01041 10.4077 8.53553 10.4077 8.24264 10.7006L3.46967 15.4736ZM28 15.2539L4 15.2539L4 16.7539L28 16.7539L28 15.2539Z"/>
                            </svg>
                        a(href="#").product__arr.product__next
                            <svg width="32" height="33" viewBox="0 0 32 33" xmlns="http://www.w3.org/2000/svg">
                            <path d="M28.5303 16.5342C28.8232 16.2413 28.8232 15.7665 28.5303 15.4736L23.7574 10.7006C23.4645 10.4077 22.9896 10.4077 22.6967 10.7006C22.4038 10.9935 22.4038 11.4684 22.6967 11.7613L26.9393 16.0039L22.6967 20.2465C22.4038 20.5394 22.4038 21.0143 22.6967 21.3072C22.9896 21.6001 23.4645 21.6001 23.7574 21.3072L28.5303 16.5342ZM4 16.7539H28V15.2539H4V16.7539Z"/>
                            </svg>
            .product__right
                .product__sticks
                    .product__stick.product__stick--new Новинка
                h1.product__title AQUAFIL HYDRA
                .product__type Очищающая пенка
                .product__rating
                    -
                        var rating = {
                            stars: 5
                        }
                    include ../../components/rating/index
                .product__price
                    span(data-product="price") 2200
                    <svg width="23" height="25" viewBox="0 0 23 25" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.8523 8.97763C15.8523 8.22005 15.6061 7.60642 15.1136 7.13672C14.6212 6.66702 13.9735 6.43217 13.1705 6.43217H9.53409V11.5231H13.1705C13.9735 11.5231 14.6212 11.2882 15.1136 10.8185C15.6061 10.3488 15.8523 9.7352 15.8523 8.97763ZM18.5455 8.97763C18.5455 10.4397 18.0663 11.6329 17.108 12.5572C16.1496 13.4814 14.9129 13.9435 13.3977 13.9435H9.53409V15.2844H15.2727C15.3788 15.2844 15.4659 15.3185 15.5341 15.3867C15.6023 15.4549 15.6364 15.542 15.6364 15.6481V17.1026C15.6364 17.2087 15.6023 17.2958 15.5341 17.364C15.4659 17.4322 15.3788 17.4663 15.2727 17.4663H9.53409V19.6481C9.53409 19.7541 9.49811 19.8413 9.42614 19.9094C9.35417 19.9776 9.26894 20.0117 9.17045 20.0117H7.27273C7.16667 20.0117 7.07955 19.9776 7.01136 19.9094C6.94318 19.8413 6.90909 19.7541 6.90909 19.6481V17.4663H4.36364C4.25758 17.4663 4.17045 17.4322 4.10227 17.364C4.03409 17.2958 4 17.2087 4 17.1026V15.6481C4 15.542 4.03409 15.4549 4.10227 15.3867C4.17045 15.3185 4.25758 15.2844 4.36364 15.2844H6.90909V13.9435H4.36364C4.25758 13.9435 4.17045 13.9094 4.10227 13.8413C4.03409 13.7731 4 13.686 4 13.5799V11.8867C4 11.7882 4.03409 11.703 4.10227 11.631C4.17045 11.5591 4.25758 11.5231 4.36364 11.5231H6.90909V4.37536C6.90909 4.26929 6.94318 4.18217 7.01136 4.11399C7.07955 4.04581 7.16667 4.01172 7.27273 4.01172H13.3977C14.9129 4.01172 16.1496 4.47384 17.108 5.39808C18.0663 6.32232 18.5455 7.51551 18.5455 8.97763Z"/>
                    </svg>
                .product__advs
                    p Преимущества продукта:
                    ul
                        li Мягко очищает
                        li Успокаивает и защищает
                        li Соблюдает баланс кожи
                        li Делает кожу мягкой
                .product__controls
                    .product__count
                        include ../../components/count/index
                    button(type='button').product__buy.btn.btn--primary
                        span.product__buy-title В корзину
                        span.product__buy-sep &nbsp;•&nbsp;
                        span.product__buy-price 2200 руб.
                    button(type='button').product__favorite
                        <svg width="16" height="17" viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.08005 3.40056C1.7622 4.34239 0.883637 6.31168 2.81648 8.88031C4.04647 10.5071 7.20929 12.6476 8 13.1614C8.79071 12.6476 11.9535 10.5927 13.1835 8.79469C15.1164 6.22606 14.2378 4.25677 12.92 3.31494C11.6021 2.37311 9.66927 2.28749 8.26357 3.91429L8 4.25677L7.73643 3.99991C7.03358 3.1437 6.06716 2.80121 5.1886 2.80121C4.39789 2.71559 3.60718 2.97246 3.08005 3.40056ZM8 14.0176L7.82429 13.932C7.64857 13.8463 3.69504 11.3633 2.20148 9.30842C0.180787 6.48292 0.971494 4.08553 2.64076 2.88684C4.04647 1.85938 6.33073 1.68814 8 3.22932C9.66927 1.60252 11.9535 1.77376 13.3592 2.80121C15.0285 3.99991 15.8192 6.48292 13.7985 9.2228C12.305 11.2777 8.35142 13.7607 8.17571 13.8463L8 14.0176Z"/>
                        </svg>
                        span Добавить в список желаний
                .product__info.
                    <b>БЕСПЛАТНАЯ</b> доставка при заказе на сумму более 3 000 рублей. Подробнее о доставке <a href="/">здесь</a>
                .product__accordion
                    -
                        var arr = [
                            "Описание",
                            "Показания",
                            "Использование",
                            "Состав и свойства",
                            "Отзывы",
                        ];
                    include ../../components/product-accordion/index





