.page{

  &__title{
    color: var(--primary);
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 40px;
  }

  &__grid{
    display:grid;
    grid-template-columns: 342px 1fr;
    grid-gap: 24px;
    padding-bottom: 100px;
  }

  &__content{
    padding: 0 25px;
  }

  &__product{
    margin-bottom: 80px;
  }

  &__interested{
    margin-bottom: 80px;
  }

  &__extra{
    margin-bottom: 80px;
  }

  &__about{
    margin: 80px 0;
    @include xlg-block{
      margin: 60px 0;
    }
  }

  &__section{
    margin-bottom: 80px;
  }
}