div(data-from=range.from data-to=range.to).range
    .range__fields
        .range__field
            input(type='number' name=range.name+'From').range__input
        .range__field
            input(type='number' name=range.name+'To').range__input
    .range__slider
