.breadcrumbs
    a(href="/").breadcrumbs__item Ivatherm
    span.breadcrumbs__sep
        <svg width="8" height="9" viewBox="0 0 8 9" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.38434 3.74222L3.19276 0.618261C2.8197 0.262916 2.24588 0.802114 2.62368 1.16055L5.5165 4.00177L2.62527 6.84145C2.24588 7.20452 2.82286 7.74063 3.19592 7.38528L6.38434 4.26287C6.54558 4.10683 6.53136 3.8859 6.38434 3.74222Z"/>
        </svg>
    span.breadcrumbs__item.breadcrumbs__item--active Каталог