.news
    .container
        h2.news__title.title
            |НОВОСТИ&nbsp;
            b Ivatherm
        .news__slider.slider
            -
                var arr = [
                    {
                        img: 'images/content/news/1.png',
                        title: 'Что нужно знать о прыщах ',
                        txt: 'Лечение, симптомы, причины Акне - самый неприятный гость. Он кажется незваным, в самый неподходящий момент, остается дольше, чем необходимо, и оставляет'
                    },
                    {
                        img: 'images/content/news/2.png',
                        title: 'Cicaderm Barrier Cream Защитит вашу кожу от контактного дерматита ',
                        txt: 'Нас всех застала врасплох пандемия, вызванная вирусом, о котором мы до сих пор ничего не знали. Ранее банальная ручная стирка'
                    },
                    {
                        img: 'images/content/news/3.png',
                        title: 'Доктор медицины Rucsandra Hurezeanu: «Почему я делаю то, что делаю?» ',
                        txt: 'Моя история начинается в Târgu Mureș. Я родился в семье врачей и фармацевтов и вырос в городе, где жил один...'
                    },
                    {
                        img: 'images/content/news/1.png',
                        title: 'Что нужно знать о прыщах ',
                        txt: 'Лечение, симптомы, причины Акне - самый неприятный гость. Он кажется незваным, в самый неподходящий момент, остается дольше, чем необходимо, и оставляет'
                    },
                    {
                        img: 'images/content/news/2.png',
                        title: 'Cicaderm Barrier Cream Защитит вашу кожу от контактного дерматита ',
                        txt: 'Нас всех застала врасплох пандемия, вызванная вирусом, о котором мы до сих пор ничего не знали. Ранее банальная ручная стирка'
                    },
                    {
                        img: 'images/content/news/3.png',
                        title: 'Доктор медицины Rucsandra Hurezeanu: «Почему я делаю то, что делаю?» ',
                        txt: 'Моя история начинается в Târgu Mureș. Я родился в семье врачей и фармацевтов и вырос в городе, где жил один...'
                    },


                ];
            .news__swiper.swiper
                .swiper-wrapper
                    each i in arr
                        .swiper-slide.news__slide
                            include ../../components/news-item/index
            .slider__nav.news__nav
                a(href="#").news__prev.slider__arr
                    <svg width="44" height="45" viewBox="0 0 44 45" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.64645 21.6757C3.45118 21.871 3.45118 22.1876 3.64645 22.3829L6.82843 25.5648C7.02369 25.7601 7.34027 25.7601 7.53553 25.5648C7.7308 25.3696 7.7308 25.053 7.53553 24.8577L4.70711 22.0293L7.53553 19.2009C7.7308 19.0056 7.7308 18.689 7.53553 18.4938C7.34027 18.2985 7.02369 18.2985 6.82843 18.4938L3.64645 21.6757ZM40 21.5293L4 21.5293V22.5293L40 22.5293V21.5293Z"/>
                    </svg>

                a(href="#").news__next.slider__arr
                    <svg width="44" height="45" viewBox="0 0 44 45" xmlns="http://www.w3.org/2000/svg">
                    <path d="M40.3536 22.3829C40.5488 22.1876 40.5488 21.871 40.3536 21.6757L37.1716 18.4938C36.9763 18.2985 36.6597 18.2985 36.4645 18.4938C36.2692 18.689 36.2692 19.0056 36.4645 19.2009L39.2929 22.0293L36.4645 24.8577C36.2692 25.053 36.2692 25.3696 36.4645 25.5648C36.6597 25.7601 36.9763 25.7601 37.1716 25.5648L40.3536 22.3829ZM4 22.5293H40V21.5293H4V22.5293Z" />
                    </svg>

            .slider__pag.news__pag