.news{
  padding: 80px 0;

  @include xlg-block{
    padding: 60px 0;
  }
  @include lg-block{
    padding: 40px 0;
  }

  &__title{
    margin-bottom: 30px;
    @include lg-block{
      margin-bottom: 10px;
    }
  }
}