//USER
@import "default/css/variables";
@import "default/css/mixins";
@import "default/css/fonts";
@import "default/css/smart-grid";
@import "default/css/adjustment";
@import "default/css/common";

//PAGES
@import "pages/style";

//COMPONENTS
@import "components/header/style";
@import "components/lang/style";
@import "components/header-cabinet/style";
@import "components/drop-menu/style";
@import "components/nav/style";
@import "components/banner/style";
@import "components/about/style";
@import "components/partitions/style";
@import "components/populars/style";
@import "components/tabs/style";
@import "components/slider/style";
@import "components/item/style";
@import "components/item-extra/style";
@import "components/rating/style";
@import "components/promo/style";
@import "components/news/style";
@import "components/news-item/style";
@import "components/subscribe/style";
@import "components/breadcrumbs/style";
@import "components/sections/style";
@import "components/section/style";
@import "components/catalog/style";
@import "components/catalog-banner/style";
@import "components/aside/style";
@import "components/catalog-menu/style";
@import "components/filter/style";
@import "components/filter-block/style";
@import "components/range/style";
@import "components/checkboxes/style";
@import "components/checkbox/style";
@import "components/radios/style";
@import "components/radio/style";
@import "components/sort/style";
@import "components/catalog-promo/style";
@import "components/pagination/style";
@import "components/product/style";
@import "components/count/style";
@import "components/product-accordion/style";
@import "components/feed/style";




@import "components/footer/style";


.debug {
  @include debug(rgba(0,0,0,0.3), 1px solid red);
  z-index: 100;
  top: 0;
  display: none;
}