//USER
@import "default/css/variables";
@import "default/css/mixins";
@import "default/css/fonts";
@import "default/css/smart-grid";
@import "default/css/adjustment";
@import "default/css/common";

//COMPONENTS
@import "components/header/style";
@import "components/lang/style";
@import "components/header-cabinet/style";
@import "components/drop-menu/style";
@import "components/nav/style";
@import "components/banner/style";
@import "components/about/style";
@import "components/partitions/style";
@import "components/populars/style";
@import "components/tabs/style";
@import "components/slider/style";
@import "components/item/style";
@import "components/rating/style";




@import "components/footer/style";

//PAGES
@import "pages/style";


.debug {
  @include debug(rgba(0,0,0,0.3), 1px solid red);
  z-index: 100;
  top: 0;
  display: none;
}