//USER
@import "default/css/variables";
@import "default/css/mixins";
@import "default/css/fonts";
@import "default/css/smart-grid";
@import "default/css/adjustment";
@import "default/css/common";

//PAGES
@import "pages/style";

//COMPONENTS
//A
@import "components/about/style";
@import "components/aside/style";
//B
@import "components/banner/style";
@import "components/basket/style";
@import "components/basket-item/style";
@import "components/breadcrumbs/style";
//C
@import "components/catalog/style";
@import "components/catalog-banner/style";
@import "components/catalog-menu/style";
@import "components/catalog-promo/style";
@import "components/checkboxes/style";
@import "components/checkbox/style";
@import "components/contacts/style";
@import "components/count/style";
//D
@import "components/drop-menu/style";
//F
@import "components/feed/style";
@import "components/filter/style";
@import "components/filter-block/style";
@import "components/footer/style";
//H
@import "components/header/style";
@import "components/header-cabinet/style";
//I
@import "components/item/style";
@import "components/item-extra/style";
//L
@import "components/lang/style";
//M
@import "components/menu/style";
@import "components/mmenu/style";
@import "components/menu-btn/style";
@import "components/mmenu-menu/style";
@import "components/mmenu-nav/style";
//N
@import "components/nav/style";
@import "components/news/style";
@import "components/news-item/style";
//O
@import "components/order/style";
//P
@import "components/pagination/style";
@import "components/partitions/style";
@import "components/populars/style";
@import "components/product/style";
@import "components/product-accordion/style";
@import "components/promo/style";
//R
@import "components/radios/style";
@import "components/radio/style";
@import "components/range/style";
@import "components/rating/style";
//S
@import "components/sections/style";
@import "components/section/style";
@import "components/slider/style";
@import "components/sort/style";
@import "components/subscribe/style";
//T
@import "components/tabs/style";



.debug {
  @include debug(rgba(0,0,0,0.3), 1px solid red);
  z-index: 100;
  top: 0;
  display: none;
}