select(name='sort').sort
    option(value='Сначала популярные') Сначала популярные
    option(value='Сначала недорогие') Сначала недорогие
    option(value='Сначала дорогие') Сначала дорогие
    option(value='По наименованию') По наименованию
