.btn{
  width: 280px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  text-align: center;
  color: var(--black);

  border: 1px solid var(--white);
  background-color: var(--white);
  position: relative;

  @include tr;

  &:hover{
    border-color: var(--primary-light);
    background-color: var(--grey);
  }

  &--arr{
    gap: 20px;
    svg{
      path{
        fill: currentColor;
      }
    }
  }

  &--icon{

    svg{
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      path{
        fill: currentColor;
      }
    }
  }

  &--grey{
    border: 2px solid var(--grey);
    background-color: var(--grey);

    &:hover{
      border-color: var(--primary-light);
      background-color: var(--primary);
      color: var(--white);
    }
  }

  &--primary{
    border-width: 2px;
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);

    &:hover{
      border-color: var(--primary-light);
      background-color: var(--primary);
      opacity: .9;
    }
  }

  &--more{
    width: auto;
    padding: 10px 15px;
    border: 1px solid transparent;
    background-color: transparent;
    gap: 20px;

    &:hover{
      background-color: transparent;
      color: var(--primary);
      border-color: var(--primary-light);
    }

    svg{
      fill: currentColor;
    }
  }

  &--white{
    border: 1px solid var(--primary-light);
    background-color: var(--white);
    color: var(--primary-light);

    &:hover{
      border-color: var(--primary-light);
      background-color: var(--primary);
      color: var(--white);
    }
  }

}

.title{
  color: var(--primary);
  font-size: 32px;
  font-weight: 400;
  background: linear-gradient(90deg, #F9F9F9 0%, rgba(249, 249, 249, 0.15) 23.96%, rgba(248, 248, 248, 0) 100%);
  padding: 15px 45px;
  border-left: 3px solid var(--primary);
  @include sm-block{
    font-size: 24px;
    padding: 11px 15px;
  }
}

.ovh{
  overflow: hidden;
}
