//variables
$vh: 1080;

@function rem($size) {
  $remSize: $size / $font-size;
  @return $remSize * 1rem;
}

@mixin fz($size) {
  font-size: $size;
  font-size: rem($size);
}

@function lh($size1, $size2) {
  $lh: $size2 / $size1;
  @return $lh;
}

@function vh($size) {
  @return $size/$vh *100*1vh;
}

@mixin content() {
  ul {
    margin: 1em 0;
    padding-left: 40px;

    li {
      list-style: disc;
    }
  }

  h1,h2,h3,h4,h5,h6,p,ol,ul {
    margin-bottom: 15px;
  }

  ol{
    list-style: decimal;
    font-size: 16px;
    color: #000;
    padding-left: 20px;
  }

  a{
    color: var(--primary);
    text-decoration: underline;

    @include tr;
    &:hover{
      color: var(--primary-light);
    }
  }


}

@mixin headers() {
  h1,h2,h3,h4,h5,h6{
    color: #000;
  }

  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
}

@mixin tr() {
  transition: $transition;
}