nav.nav
    -
        var arr = [
            "О бренде",
            "Термальная вода Herculane",
            "Уникальные молекулы бренда",
            "Производство",
            "Твой тип кожи",
            "Врачам"
        ]
    each i in arr
        a(href="#").nav__item= i