.slider
    if slider.title
        .slider__top
            .slider__title.title= slider.title
    .slider__bottom
        if slider.type == 2
            div(data-type=slider.type).slider__swiper.swiper
                .swiper-wrapper
                    each i in slider.list
                        .swiper-slide.slider__slide.slider__slide--extra
                            include ../item-extra/index
                    each i in slider.list
                        .swiper-slide.slider__slide.slider__slide--extra
                            include ../item-extra/index
        else
            div(data-type=slider.type).slider__swiper.swiper
                .swiper-wrapper
                    each i in slider.list
                        .swiper-slide.slider__slide
                            include ../item/index
                    each i in slider.list
                        .swiper-slide.slider__slide
                            include ../item/index
        .slider__nav
            a(href="#").slider__prev.slider__arr
                <svg width="44" height="45" viewBox="0 0 44 45" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.64645 21.6602C3.45118 21.8554 3.45118 22.172 3.64645 22.3673L6.82843 25.5493C7.02369 25.7445 7.34027 25.7445 7.53553 25.5493C7.7308 25.354 7.7308 25.0374 7.53553 24.8422L4.70711 22.0137L7.53553 19.1853C7.7308 18.99 7.7308 18.6735 7.53553 18.4782C7.34027 18.2829 7.02369 18.2829 6.82843 18.4782L3.64645 21.6602ZM40 21.5137L4 21.5137V22.5137L40 22.5137V21.5137Z"/>
                </svg>
            a(href="#").slider__next.slider__arr
                <svg width="44" height="45" viewBox="0 0 44 45" xmlns="http://www.w3.org/2000/svg">
                <path d="M40.3536 22.3673C40.5488 22.172 40.5488 21.8554 40.3536 21.6602L37.1716 18.4782C36.9763 18.2829 36.6597 18.2829 36.4645 18.4782C36.2692 18.6735 36.2692 18.99 36.4645 19.1853L39.2929 22.0137L36.4645 24.8422C36.2692 25.0374 36.2692 25.354 36.4645 25.5493C36.6597 25.7445 36.9763 25.7445 37.1716 25.5493L40.3536 22.3673ZM4 22.5137H40V21.5137H4V22.5137Z"/>
                </svg>

