extends ../../main

block variables
    - var title = 'Доставка'

block content
    .page
        .page__breadcrumbs
            .container
                include ../../components/breadcrumbs/index
        .container
            h1.page__title Доставка
            .page__grid
                aside.page__aside.aside
                    .aside__menu
                        -
                            var menu = [
                                {
                                    title: 'Оплаты',
                                },
                                {
                                    title: 'Доставка',
                                    cls: 'active'
                                },
                                {
                                    title: 'Контакты'
                                }
                            ];
                        include ../../components/menu/index

                    button(type='button').aside__callback-btn.btn.btn--grey
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.3685 19.2691L20 19.4381L19.831 18.8066L18.9573 15.542C19.5314 14.4231 19.8298 13.1833 19.828 11.9258C19.828 7.55141 16.285 4.00391 11.9136 4.00391C7.54298 4.00391 4 7.55141 4 11.9258C4 16.301 7.54298 19.8477 11.9144 19.8477C13.5704 19.8477 15.108 19.3377 16.3793 18.4671L19.3685 19.2691Z" fill="#BA82FF" stroke="#4C2F92"/>
                        </svg>
                        span Задать вопрос

                main.page__content
                    .content.content--fz14
                        p Наш интернет-магазин предлагает несколько вариантов доставки:
                        ol
                            li курьерская;
                            li самовывоз из магазина;
                            li постаматы;
                            li почта России.
                        br
                        br
                        h3 Курьерская доставка*
                        p Вы можете заказать доставку товара с помощью курьера, который прибудет по указанному адресу в будние дни и субботу с 9.00 до 19.00. Курьерская служба, после поступления товара на склад, свяжется с вами и предложит выбрать удобное время доставки. Уточнит адрес.
                        p Вы вскрываете упаковку при курьере, осматриваете на целостность и соответствие указанной комплектации.
                        p Доставка бесплатна при заказе от 3000 рублей.
                        br
                        br
                        h3 Самовывоз из магазина
                        p Вы можете забрать товар в одном из магазинов, сотрудничающих с нами. Список торговых точек, которые принимают заказы от нашей компании появится у вас в корзине. Когда заказ поступит в ваш город, вам придёт уведомление. Вы просто идёте в этот магазин, обращаетесь к сотруднику в кассовой зоне и называете номер заказа. Забрать покупку может ваш друг или родственник, который знает номер и имя, на кого он оформлен.
                        br
                        br
                        h3 Постамат
                        p Постамат – это терминал с автоматизированной системой для хранения заказанных товаров. Удобство в том, что человек может забрать заказ в любое удобное время.
                        br
                        br
                        h4 Как работать с постаматом:
                        ol
                            li в момент оформления заказа на сайте, вы выбираете удобный для себя постамат, если такая система работает в вашем городе;
                            li на ваш телефон или e-mail придет уникальный код, это значит, что товар доставлен в постамат;
                            li вы приходите к постамату, вводите полученный код и следует инструкциям автомата;
                            li оплачиваете заказ в терминале постамата;
                            li забираете товар.
                        br
                        br
                        p Срок хранения в постамате 3 дня, но можно продлить ещё на аналогичный срок. Чтобы уточнить информацию и продлить время хранения зайдите на сайт нашего партнера, введите номер заказа и телефон и следуйте подсказкам на сайте.
                        br
                        br
                        h3 Почтовая доставка
                        p В зависимости от вашего региона проживания, доставка занимает разное время.
                        p О доставке в другие регионы России и страны СНГ уточняйте менеджеров магазина.
        .page__extra
            .container
                -
                    var slider = {
                        type: 2,
                        title: 'Ранее вы смотрели',
                        list: [1, 2, 3]
                    }
                include ../../components/slider/index
        .page__feed
            include ../../components/feed/index








